body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #333333;
    color: #fff;
    text-align: center;
    padding: 10px;
}

nav {
    background-color: #f2f2f2;
    padding: 10px;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

nav li {
    float: left;
}

nav li a {
    display: block;
    color: #000;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

nav li a:hover {
    background-color: #ddd;
}

table {
    width: 80%;
    margin: auto;
    padding: 40px;
}

td {
    background-color: #f2f2f2;
    padding: 30px; 
    text-align: center;

    
}
span {
    color: red;
  }
 h2 {
    color: #333333;
    text-align: center;
    
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

li a {
    color: #003366;
    text-decoration: none;
}

li a:hover {
    color: #002152;
}

footer {
    background-color: #333333;
    color: #fff;
    text-align: center;
    padding: 10px;
   
}
.delete-btn {
    background-color: #333333;
    color: #fff;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
  }
  